@page "/Register"
@using BlazorWASM.Services
@using BlazorWASM.Services.ClientInterfaces
@using BlazorWASM.Services.ClientInterfaces
@using Model.DTOs
@inject IAuthService authService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Please register</h3>
            <div class="field">
                <label>Name :</label>
                <input type="text" @bind="name"/>
            </div>
             
             <div class="field">
                 <label>Surname: </label>
                 <input type="text" @bind="surname"/>
             </div>
             
             <div class="field">
                 <label style="text-align: center">Password:</label>
                 <input type="password" @bind="password"/>
             </div>
              
             <div class="field">
                 <label>Email:</label>
                 <input type="text" @bind="email"/>
             </div>
             @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="LoginAsync">Register</button>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string name;
    private string surname;
    private string password;
    private string email;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        UserRegistrationDTO dto = new UserRegistrationDTO(name,surname,password, email);
        try
        {
            await authService.RegisterAsync(dto);
            navMgr.NavigateTo("/login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}